* {
  padding: 0px;
  margin: 0px;
}

a {
  color: #3a89a3;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
  font-family: helvetica, arial, sans-serif;
}

div#content {
	position: relative;
}
div#projects {
	padding: 20px;
}
div#queue {
	right: 50%;
	left: 10px;
}
div#sources {
	right: 50%;
	left: 10px;
}
div#rules, div#queue, div#sources {
	position: absolute;
	top: 10px;
	bottom: 10px;
	padding: 10px;
}
div#rules {
	right: 10px;
	left: 50%;
}

header {
	margin: 20px;
	position: relative;
}

header div#menubar {
	position: absolute;
	top: 0px;
	right: 0px;
}
p.error-label {
	background-color: #c67;
}
p.error-label, p.security-label {
	text-align: center;
	padding: 10px;
	color: white;
	font-size: 13px;
	line-height: 18px;
}
p.security-label {
	background-color: #76c;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #ccc;
  padding: 5px;
}
table th {
  background-color: #eee;
}

textarea {
	width: 100%;
	min-height: 400px;
	height: 100%;
	font-size: 1em;
	padding: 10px;
	box-sizing: border-box;
}