---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Gateway by Surevine</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="https://www.surevine.com/"><img src="{{ site.baseurl }}/img/surevine-logo.png" /></a>
        <p></p>
        <h1><a href="{{ site.baseurl }}">Gateway</a></h1>
        <p>A daemon to manage the transition (initially) of software releases around a federated release management system according to a set of configurable security rules and filters.</p>

        <p class="view"><a href="https://github.com/surevine/gateway">View the Project on GitHub <small>surevine/gateway</small></a></p>

        <ul>
          <li><a href="https://github.com/surevine/gateway/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/surevine/gateway/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/surevine/gateway">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        {{content}}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/surevine">Surevine</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ site.baseurl }}/javascripts/scale.fix.js"></script>

  </body>
</html>
